<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iursp.mapper.UserMapper" >

	<resultMap type="com.iursp.domain.model.User" id="userMap">
		<id column="refid" property="refid" />
		<result column="login_id" property="loginId" />
		<result column="user_name" property="userName" />
		<result column="user_position" property="userPosition" />
		<result column="user_password" property="userPassword" />
		<result column="sex" property="sex" />
		<result column="nick_name" property="nickName" />
		<result column="telephone" property="telephone" />
		<result column="user_location" property="userLocation" />
		<result column="email" property="email" />
		<result column="id_card_path" property="idCardPath" />
		<result column="head_icon" property="headIcon" />
		<result column="weixin_no" property="weixinNo" />
	</resultMap>
	
	
	<select id="queryAllUsers" resultMap="userMap" parameterType="com.iursp.domain.model.User">
		select * from common_user
	</select>
</mapper>

