<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="common_header">
		<!--全局通用框架样式 begin-->
		<meta charset="utf-8"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
			name="viewport"></meta>
		<link rel="stylesheet" type="text/css" th:href="@{~/thirdlib/bootstrap/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{~/thirdlib/font-awesome/css/font-awesome.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{~/thirdlib/Ionicons/css/ionicons.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{~/thirdlib/adminLte/css/AdminLTE.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{~/thirdlib/adminLte/css/skins/_all-skins.min.css}" />
		<!-- Google Font -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
		<!--全局通用框架样式 end-->
	</head>
</html>